/* components/OnboardingForm.module.css */

.form-container {
    max-width: 400px;
    margin: auto;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .location-buttons {
    display: flex;
  }
  
  .location-buttons button {
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .location-buttons button:hover {
    background-color: #ddd;
  }
  
  .location-buttons button.selected {
    background-color: #007bff;
    color: #fff;
  }
  